.shareBtn {
  width: 100%;
  display: inline-block;
  text-align: right;
  padding-bottom: 8px;
  padding-right: 16px;
}

.bgColor {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.displayName {
  text-align: center;
  color: #1b225a;
}

.margin {
  padding: 24px;
}

.myDatePicker fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #ebdef3;
}

.myDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #e1bee7;
}
