.shareBtn {
  width: 100%;
  display: inline-block;
  text-align: right;
  padding-bottom: 8px;
  padding-right: 16px;
}

.bgColor {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.displayName {
  text-align: center;
  color: #1b225a;
}

.margin {
  padding: 24px;
}

.myDatePicker fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #ebdef3;
}

.myDatePicker .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #e1bee7;
}

.hr {
  width: 50%;
}

.footer {
  margin: 0 auto;
  justifycontent: center;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #9bbae6;
  padding: 8px;
}

.center_p {
  textalign: center;
  alignitem: center;
  margin: 0 auto;
  width: 100%;
  font-size: 8px;
}

#root {
  height: 100vh;
}

.postDefault {
  width: 350px;
  height: 350px;
  max-height: 200px;
}

.topimg {
  width: 100%;
  height: 400px;
}
